/* ------------Sidebar Modal------------ */
.modal.left .left-modal-dialog {
  overflow-y: initial !important;
  position: fixed;
  margin: auto;
  height: 100%;
  max-width: 650px;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .left-modal-content {
  height: 100%;
}

.modal.left .modal-body {
  padding: 15px 15px 80px;
  overflow-y: auto;
}

/*Left*/
.modal.left.fade .left-modal-dialog{
  left: 0;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .left-modal-dialog{
  left: 0;
}

.left-modal-content {
  border-radius: 0;
  border: none;
}

.modal-open {
  padding-right: 0 !important;
  overflow: scroll;
  position:fixed;
  width: 100%;
  height: 100%;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
  min-height: 3.5rem !important;
  padding-top: .5rem !important;
  padding-bottom: 1rem !important;
}