/* ---------- TEXT ---------- */
.larger-CSUtext-uncap{
    font-family: 'prox-light', sans-serif !important;
    letter-spacing: .11em;
    line-height: 1em;
    font-size: 18px;
}

.larger-CSUtext{
    font-family: 'prox-light', sans-serif !important;
    letter-spacing: .11em;
    line-height: 1em;
    font-size: 19px;
    text-transform: uppercase;
}

/* ---------- TEXTBOX ---------- */

#flex-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}

#flex-container > .flex-item {
    flex: auto;
}

#flex-container > .static-item {
    width: initial;
}

@media only screen and (max-width: 412px){
    .flex-wrap-container {
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        flex-wrap: wrap;
    }
}

.menu {
    z-index: 2;
    position: absolute;
}

.menu-items {
    z-index: 1;
    position: absolute !important;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    height: 100%;
    top: 153px;
}

@media only screen and (max-width: 800px){
    .menu-items {
        top: 160px;
    }
}

#menu-btn {
    background-color: white;
    color: #1E4D2B;
    border-width: .09em !important;
    border-color: #1E4D2B;
}

#menu-btn:hover {
    background-color: #1E4D2B;
    border: 2px solid #1E4D2B;
    color: white;
}

#trip-title {
    height: 39px;
}

/* -----------Card----------- */

.bg_csu_green  {
    background-color: #1E4D2B
}

.bg_csu_gold  {
    background-color: #C8C372
}

/* -----------Font----------- */

.text_canyon {
    color: #CC5430;
}

/* -----------Buttons----------- */

/* Green */

.green_btn {
    background-color: #1E4D2B; /* Green */
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-width: .09em !important;
    border-color: #1E4D2B;
    height: 2.55em !important;
}

.green_btn:focus{
    box-shadow: none !important;
}

.green_hvr {
    background-color: white;
    color: #1E4D2B;
    border: 2px solid #1E4D2B;
}

.green_hvr:hover {
    background-color: #1E4D2B;
    border: 2px solid #1E4D2B;
    color: white;
}

/* Gold */

.gold_btn {
    background-color: #C8C372; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.gold_hvr {
    background-color: white;
    color: #C8C372;
    border: 2px solid #C8C372;
}

.gold_hvr:hover {
    background-color: #C8C372;
    border: 2px solid #C8C372;
    color: white;
}

.gold_btn:disabled,
.gold_btn[disabled]{
    border: 1px solid rgba(200, 195, 114, 0.51);
    background-color: white;
    color: rgba(200, 195, 114, 0.51);
}

/* Canyon */

.canyon_btn {
    background-color: #CC5430; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.canyon_hvr {
    background-color: white;
    color: #CC5430;
    border: 2px solid #CC5430;
}

.canyon_hvr:hover {
    background-color: #CC5430;
    border: 2px solid #CC5430;
    color: white;
}

.canyon_btn:disabled,
.canyon_btn[disabled]{
    border: 1px solid rgba(204, 84, 48, 0.51);
    background-color: white;
    color: rgba(204, 84, 48, 0.51);
}

/* -----------Logo----------- */

.green_logo {
    background-color: #1E4D2B; /* Green */
    border: none;
    color: white;
    padding: 0 3px;
    display: inline-block;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.green_hvr_logo {
    background-color: white;
    color: #1E4D2B;
}

.green_hvr_logo:hover {
    background-color: #1E4D2B;
    color: white;
}


.green_logo:disabled,
.green_logo[disabled] {
    border: 1px solid white;
    background-color: white;
    color: rgba(30, 77, 43, 0.51);

}

/* Add/Remove Buttons*/

.remove_logo {
    padding-bottom: .3em;
    padding-right: 1px;
    color: #CC5430;
}

.add_logo {
    padding-bottom: .3em;
    padding-right: 1px;
    color: #1E4D2B;
}

.query_country {
    padding-left: 2em;
}

/* -----------Slider----------- */

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
    padding-left: .75em;
    padding-right: .75em;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #C8C372;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1E4D2B;
    margin-top: -5px;
}

