.table_scroll {
    max-height: 512px;
    min-height: 0;
    overflow: auto;
}

.gly_pad {
    margin-top: 5px;
    color: grey;
}

.input_pad {
    height: 35px;
    width: 100%;
    border-radius: 3px;
}